*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* fonts  */
     font-family: 'Gloock', serif;
font-family: 'Inter', sans-serif;
font-family: 'Mynerve', cursive;
font-family: 'Poppins', sans-serif; 
}


li{
    list-style: none;
    
}
a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    padding-right: 60px;
    font-size: medium;
}

h1{
    font-size: 50px;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
}
button {
    background-color: #41d399;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    padding: 25px 50px;
    border-style: none;
    border-radius: 50px;
    margin: 20px;
}
button:hover{
    color: #41d399;
    background-color: #fff;
}

.nav{
   
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 750px;

}

.nav_list ul{
    display: flex;
}

main{
   
    height: 90vh;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.left{
    
    height: 80vh;
    width: 190vh;
    padding: 100px;
}

.right{
    
    height: 80vh;
    width:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


#greenbox{
    z-index: 1;
    height: 520px;
    margin-top: 100px ;
    margin-left: 200px ;

}
#yellowbox{
    z-index: 2;
    height: 420px;
    margin: -470px 0px 45px 250px;
}

#doc_img{
    position: absolute;
    z-index: 3;
    height: 650px;
    margin: 0px 0px 0px 250px;
 }
 
 .arrow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
    padding: 00px 0px 0px 520px;
    margin-top: -50px;
 }


 /* aboutus  */

 .aboutus_body{
    background-color: #f0f4f5;
 }
span{
    font-size: 30px;
    color: #41d399;
    font-weight: bolder;
    
}
 .aboutus {
    text-align: center;
    padding: 20px;
 }
.intro{

    height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}
 .intro_spec{

    height: 10vh;
    display: flex;
    margin-bottom: 150px;
   
 }

 .intro_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    
    
    box-shadow: 2px 2px 20px 2px rgb(123, 127, 129) ;

    border-radius: 20px;
    margin-right: 40px;
    
 }

 h2{
    font-size: 20px;
 }



 /* contact us */

 #contactus_body{
    background-color: #f0f4f5;
 }

 .formcontainer{
   
    height: 85vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
 }

 form{

    height: 60vh;
    width: 50vh;
    padding: 30px;

    box-shadow: 2px 2px 20px 2px rgb(123, 127, 129) ; 

    display: flex;
    flex-direction: column;
 }

 #contactus_Submit{
    background-color: #41d399;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 90px;
    border-style: none;
    border-radius: 30px;
    margin: 20px;
    
 }

 form>h1{
    font-size: 35px;
    font-weight: 700;
    padding-left: 45px;
    padding-bottom: 20px;
    
 }

 label{
    padding: 10px 5px 10px 0px;
    font-weight: bold;
 }

 input, textarea{
    border-style: none;
    padding: 5px;
 }